* {
	padding: auto;
	margin: auto;
	box-sizing: auto;
	font-size: large;
}
body {
	background: #f4f6f9;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 40px;
	font-family: Montserrat;
}
h2 {
	text-decoration: underline;
}
